.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  width: 80%;
}
.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  font-size: 1rem;
  margin-top: 20px;
}
.container button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: 150px;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}
.error {
  font-size: 1rem;
  font-weight: 500;
  color: red;
  padding-left: 20px;
}
.confirmation {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(4, 133, 12);
  padding: 20px;
}

