.Myheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  background-image: url("/Photo_1.webp");
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  color: white;
}
